#signup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    z-index: 999;
}
.signupContainer {
    width: min(340px, 100%);
    max-height: calc(100vh - 10em); /* Set max-height relative to viewport height */
    overflow-y: auto;
    background: linear-gradient(270deg, rgba(33, 33, 33, .6) 14.44%, rgba(70, 69, 67, .6) 93.61%), #000;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 6px;
    position: fixed; /* Change to fixed positioning */
    bottom: 0;
    top: 50%; /* Adjust top position */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
}
.signupContainer form{
    width: 100%;
}
.signup-fields{
    /* height:50vh;
    padding-top: 13px; 
    /* overflow: scroll; */
}
.inputarea{
    border-radius: 6px;
    box-shadow: #1f1f1f;
}
.inputarea input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}
.inputarea input:focus{
    outline: none;
    font-size: medium;
}
.signupContainer h1{
    font-size: 40px;
    font-weight: 350;
    margin: 0;
}
.signupContainer span{
    font-size: 18px;
    color: #8e8e8e;
    font-family: "Rubik", sans-serif;
}
.inputarea{
    background:hsl(0deg 0% 100% / 5%);
    border: 1px solid transparent;
    padding: 0.8em 1.125rem .775em;
    margin: 15px;
    text-align: left;
}
.inputarea label{
    color:#b9b9b9;
    display: block;
    font-size: 14px;
}
.signupContainer button{
    background: transparent;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    border-bottom:1px solid #fff;
}

.error{
    color: #cc2222 !important;
    font-size: 12px !important;
    display: block;
    padding: 0;
    text-align: left;
    padding: 0em 1.125rem 0em;
}
.finalerror{
    color: #cc2222 !important;
    font-size: 14px !important;
    display: block;
    padding: 0;
    text-align: center;
    padding: 0.3em 1.125rem 0.4em;
}
.txt-green{
    color: #11c648 !important;
    font-size: 16px !important;
    display: block;
    padding: 0;
    text-align: center;
    padding: 0em 1.125rem 0.7em;
}
.SignupFooter{
    display: flex;
    flex-direction: column;
    font-family: "Jaldi", sans-serif;
    padding-top: 25px;
}
.SignupFooter span{
    font-size: 14px;
    color: white;
}
.SignupFooter button{
    border: none;
}
.loginBtn span{
    color: #4da22e;
    font-size: 15px;
    font-weight:500;
}
