#Bag {
    width: 100%;
    height: 100vh;
    position: fixed;
    font-family: "Oswald", sans-serif;
    backdrop-filter: blur(1px);
    z-index: 999;
    transition: all 0.9s cubic-bezier(0.5, 0.1, 0.5, 1);
}

.bagContainer__close {
    height: min(80vh, calc(100vh - 60px));
    box-shadow: 3px 3px 11px rgba(0, 0, 0, .13);
    position: absolute;
    width: min(375px, 90%);
    right: 15px;
    top: 15px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
}

.cartcards {
    padding: 0 20px;
    height: calc(100% - 12% - 200px);
    margin-bottom: 2vh;
    overflow-y: auto;
    position: relative;
}

.cartcards::-webkit-scrollbar {
    width: 5px;
}

.cartcards::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.cartcards::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.bagContainer {
    height: min(80vh, calc(100vh - 60px));
    box-shadow: 3px 3px 11px rgba(0, 0, 0, .13);
    position: fixed;
    right: 15px;
    top: 15px;
    width: min(375px, 91%);
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
}

.bagHeadIcons {
    position: absolute;
    right: 65px;
    top: 35px;
    font-size: clamp(18px, 5vw, 20px);
    display: flex;
    gap: 15px;
}

.close {
    top: 32px;
    right: 23px;
    position: absolute;
    cursor: pointer;
}

.close svg {
    color: #3f3f3f;
    width: clamp(22px, 5vw, 25px);
    transform: rotate(45deg);
}

.close:hover svg {
    transition: 0.2s ease-in-out;
    transform: rotate(120deg);
}

.emptyBag {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 100;
}

.emptyBag h1 {
    font-weight: 300;
}

.bagImg {
    width: 25%;
}

.bagImg img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.bagCards {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BagHeader {
    height: 15%;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 25px 10px;
    margin-top: 10px;
}

.BagHeader h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 1.3888888889vw;
}

.bagIcons {
    width: 40%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

.bagDetails {
    font-weight: 350;
    width: 65%;
    margin-left: 15px;
}

.bagDetails p {
    font-size: clamp(12px, 5vw, 16px);
    letter-spacing: 1px;
    margin: 0;
}

.bagDetails span {
    color: #929292;
    font-size: clamp(11px, 5vw, 15px);
}


.bagprice {
    width: 20%;
    color: #1f1f1f;
    font-size: clamp(14px, 5vw, 16px);
    text-align: right;
    letter-spacing: 2px;
    /* padding-right: 13px; */
}

.subtotal {
    color: #929292;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    flex-direction: row;
}

.subtotal p {
    margin: 0;
}

.bagButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bagButtons button {
    min-width: 140px;
    min-height: 40px;
    margin-bottom: 10px;
    border: none;
    color: #1f1f1f;
    background-color: #fff;
    border-radius: 2.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
}

.CheackBtn {
    background-color: #1f1f1f !important;
    color: #fff !important;
}

.bagFooter {
    position: relative;
    padding-top: 3vh;
    background-color: white;
    left: 7.5%;
    width: 86%;
    top: 10px;
    bottom: 15px;
    border-top: 1px solid #929292;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 430px) {


    .bagprice {
        padding-right: 0;
    }

    .bagContainer,
    .bagContainer__close {
        height: min(100vh, calc(100vh - 0px));
        top: 0;
        right: 0;
        width: min(430px, 100%);
        border-radius: 0;
        z-index: 999;
    }

    .bagFooter {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .bagButtons {
        width: 45%;
        margin-right: 15px;
    }

    .bagButtons button {
        font-size: 13px;
        min-height: 40px;
        min-width: 140px;
    }

    .subtotal {
        width: 40%;
        gap: 22px;
        margin-bottom: 8px;
        flex-direction: column;
        justify-content: space-around;
    }
}