#Bag {
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.bagContainer__close {
    height: 74vh;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, .13);
    position: fixed;
    transform: translateX(120%);
    width: min(400px, 90%);
    right: 15px;
    top: 15px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    z-index: 999;
}

.cartcards {
    padding: 0 20px;
    height: 50%;
    overflow-y: auto;
}

.cartcards::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb */
.cartcards::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
    border-radius: 4px;
    /* Set the border radius of the scrollbar thumb */
}

/* Customize the scrollbar thumb when hovered */
.cartcards::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Change the color when hovered */
}

.bagContainer {
    height: 74vh;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, .13);
    position: fixed;
    transform: translateX(0%);
    right: 15px;
    top: 15px;
    width: min(400px, 91%);
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    z-index: 999;
}

.bagHeadIcons {
    position: absolute;
    right: 65px;
    top: 35px;
    font-size: 20px;
    display: flex;
    gap: 15px;
}

.close {
    top: 32px;
    right: 23px;
    position: absolute;
    cursor: pointer;
}

.close svg {
    color: #3f3f3f;
    width: 25px;
    transform: rotate(45deg);
}

.close:hover svg {
    transition: 0.2s ease-in-out;
    transform: rotate(120deg);
}

.emptyBag {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 100;
}

.emptyBag h1 {
    font-weight: 300;
}

.bagImg {
    width: 25%;
}

.bagImg img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.bagCards {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BagHeader {
    height: 15%;
    color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 25px 10px;
    margin-top: 10px;
}

.BagHeader h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 1.3888888889vw;
}

.bagIcons {
    width: 40%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

.bagDetails {
    font-weight: 350;
    width: 65%;
    margin-left: 15px;
}

.bagDetails p {
    font-size: 16px;
    letter-spacing: 0.8px;
    margin: 0;
}

.bagDetails span {
    color: #929292;
}


.bagprice {
    width: 20%;
    text-align: right;
    letter-spacing: 2px;
    padding-right: 13px;
}

.subtotal {
    color: #929292;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    flex-direction: row;
}

.subtotal p {
    margin: 0;
}

.bagButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bagButtons button {
    min-width: 140px;
    min-height: 40px;
    margin-bottom: 10px;
    border: none;
    color: #1f1f1f;
    background-color: #fff;
    border-radius: 2.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
}

.CheackBtn {
    background-color: #1f1f1f !important;
    color: #fff !important;
}

.bagFooter {
    height: 20%;
    position: absolute;
    bottom: 30px;
    left: 7.5%;
    padding-top: 15px;
    width: 85%;
    border-top: 1px solid #929292;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 430px) {

    .bagContainer,
    .bagContainer__close {
        height: 100vh;
        top: 0;
        right: 0;
        width: min(430px, 100%);
        border-radius: 0;
    }

    .bagFooter {
        flex-direction: row;
    }

    .bagButtons {
        width: 60%;
        justify-content: end;
    }

    .subtotal {
        width: 40%;
        flex-direction: column;
        justify-content: space-around;
    }
}

.blur {
    filter: blur(5px);
}