.manuItem{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-family: "Cinzel", serif;
    z-index: 999;
}
.manuItem span{
    position: fixed;
}
.manuItem button{
    background-color: transparent;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerBtn button span{
    color: white;
    font-size: 20px;
}
.innerBtn{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.innerBtn img{
    width: 100%;
    height: 100%;
}
.innerBtn:hover img,
.innerBtn:hover span img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
