.wishHead {
    font-size: clamp(30px, 5vw, 40px);
    font-weight: 200;
    letter-spacing: 3px;
    padding-top: 30px;
    font-family: "Oswald", sans-serif;
}

.wishBox {
    width: min(85vh, 90%);
    outline: none;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.css-gs8w9h {
    outline: none;
}

.Wishcards {
    height: 30vh;
    overflow-y: scroll;
}

.Wishclose {
    top: 32px;
    right: 23px;
    position: absolute;
    cursor: pointer;
}

.Wishclose svg {
    color: #3f3f3f;
    width: clamp(21px, 5vw, 25px);
    transform: rotate(45deg);
}

.Wishcards::-webkit-scrollbar {
    display: none;
}

.wishImg {
    width: 25%;
}

.wishImg img {
    max-width: 60%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.wishPera {
    width: 61%;
    margin: 0 2%;
}

.wishPera p {
    font-size: clamp(10px, 5vw, 16px);
    letter-spacing: 0.8px;
    margin: 0;
}

.wishPera span {
    color: #929292;
    font-size: clamp(12px, 5vw, 16px);
}

.wishIcon {
    width: 10%;
    text-align: right;
}

.wishIcon svg {
    width: clamp(20px, 5vw, 25px);
}

@media screen and (max-width: 430px) {
    .wishImg img {
        max-width: 90%;
    }

    /* .wishPera p {
        font-size: 14px;
        letter-spacing: 0.3px;
    } */

    /* .wishPera span {
        font-size: 13px
    } */

}