.wishHead {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 3px;
    padding-top: 30px;
    font-family: "Oswald", sans-serif;
}

.wishBox {
    width: min(85vh, 85%);
    outline: none;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.css-gs8w9h {
    outline: none;
}

.Wishcards {
    height: 30vh;
    overflow-y: scroll;
}

.Wishcards::-webkit-scrollbar {
    display: none;
}

.wishImg {
    width: 20%;
}

.wishImg img {
    max-width: 60%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.wishPera {
    width: 68%;
    margin: 0 1%;
}

.wishPera p {
    font-size: 16px;
    letter-spacing: 0.8px;
    margin: 0;
}

.wishPera span {
    color: #929292;
}

.wishIcon {
    font-size: 18px;
    width: 10%;
}

@media screen and (max-width: 430px) {
    .wishImg img {
        max-width: 95%;
    }

    .wishPera p {
        font-size: 14px;
        letter-spacing: 0.3px;
    }

    .wishPera span {
        font-size: 13px
    }

}