#productStory{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left-product{
    width: 50%;
    height: 100%;
}
.left-product img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.right-product{
    width: 50%;
    height: 100%;
    background-color: #e3d9c6;
}
.rightContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rightContent h1 {
    margin: 0;
    color: #2e2e2e;
    font-size: 72px;
    padding: .9444444444vw 5.5555555556vw;
}

.rightContent span {
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    color: #716d66;
}
.productBtn button{
    color: #fff;
    font-size: 25px;
    font-family: "Cinzel", serif;
    border: none;
    padding: 15px 35px;
    margin-top: 70px;
    background-color:#1f1f1f;
    border-radius: 2.5em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
}
@media only screen and (max-width: 1024px){
    #productStory{
        height:100vh;
        flex-direction: column;
    }
    .left-product{
        width: 100%;
        height: 60vh;
    }
    .right-product{
        width: 100%;
        height: 40vh;
    }
    .rightContent h1{
        font-size: 35px;
        padding: 0.9444444444vw 11.555556vw;
    }
    .rightContent span{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .productBtn button{
        font-size: 16px;
        padding: 8px 16px;
        margin-top: 30px;
    }
   
    }
@media only screen and (max-width: 576px){
    .rightContent h1{
        font-size: 25px;
    }
}



