#BuyProduct {
    margin: 25px 0;
    height: 100vh;
    position: fixed;
    bottom: 20px;
    z-index: 2;
}

#BuyProduct:hover .productView {
    height: 400px;
    transition: 0.5s;
}

.upDown {
    font-size: 30px;
}

.productView {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 0px;
    border-top: 1px solid #c6c6c6;
}

.productView span {
    font-size: 15px;
    color: #666;
    margin: 10px 0;
}

.hideDown{
    transform: translateY(48vh);
}

.productView img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#BuyDetail {
    box-shadow: 3px 3px 11px rgba(0, 0, 0, .13);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: min(400px, 92%);
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 999;
    background-color: white;
}

.BuyProDetail {
    display: flex;
    margin: 10px 10px 5px;
}
.belowclick{
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceStock{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 7px;
}

.Product-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Product-info h2 {
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 540;
    font-family: 'Times New Roman', Times, serif;
}

.BuyImg {
    width: 20%;
}

.BuyImg img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.buyButton {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyButton button {
    font-size: 16px;
    color: #fff;
    padding: 7px 25px;
    background-color: #1f1f1f;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .13);
}

.Product-info span {
    color: #666;
    margin: 4px;
    font-size: 12px;
    font-weight: 50;
}

.buyprice {
    margin: 0;
}

@media screen and (max-width:576px) {
    #BuyProduct:hover .productView {
        display: none;
    }
    #BuyDetail{
        height: 60vh;
    }
    .BuyProDetail{
        height: 475px;
        justify-content: space-between;
    }
    .belowclick{
        flex-direction: column;
    }
    .arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .upDown {
        cursor: pointer;
    }

    .hideDown {
        display: none;
    }
   

    .BuyProDetail {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .Product-info {
        width: 100%;
        align-items: center;
    }
    .priceStock{
        margin: 7px 0;
        margin-left: 0;
        align-items: center;
    }
    

    .BuyImg {
        width: 45%;
    }
    .expanded {
        transform: translateY(0);
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hideDown{
        position: absolute;
        top: 120vh;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: 577px) {
    .arrow {
        display: none;
    }

}
