#design{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-section {
    width: 50%;
    height: 100%;
    background-color: #4c363a;
    display: flex;
    justify-content: center;
}

.left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-content h1 {
    color: #dedcdc;
    font-size: 72px;
    margin: 0;
    padding: .9444444444vw 7.555556vw;
}

.left-content span {
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    color: hsl(0deg 0% 67.74% / 80%);
}

.right-section {
    width: 50%;
}

.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 1024px){
    #design{
        height:100vh;
        flex-direction: column-reverse;
    }
    .left-section{
        width: 100%;
        height: 35vh;  
    }
    .right-section{
        width: 100%;
        height: 65vh;  
    }
    .left-content{
        padding:0 10px;
    }
    .left-content span{
        font-size: 13px;
        margin-bottom:20px;
    }
    .left-section h1{
        font-size: 35px;
        padding: 0.9444444444vw 11.555556vw;
    }
}
@media only screen and (max-width: 576px){
    .left-content{
        padding:0;
    }
    .left-section h1{
        font-size: 25px;
    }
}
@media only screen and (max-height:545px) {
    .left-content h1{
        font-size: 40px;
        padding: 0.9444444444vw 11.555556vw;
    }

}