#productDetail {
  width: 100%;
  height: auto;
  font-family: "Ojuju", sans-serif;
  padding-top: 100px;
  position: relative;
}

.productDetailHead {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0vh 3vw;
}

.productDetailHead h1 {
  font-family: "Montserrat", sans-serif;
  max-width: 66%;
  font-size: 95px;
  font-weight: 200;
  margin: 0;
  margin: 15px 0px;
}

.productDetailHead span {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-left: 10px;
  font-family: "Quicksand", sans-serif;
}

.prodimg {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodimg img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.productImg {
  background-image: url("https://www.moooi.com/_next/image?url=https%3A%2F%2Fcdn.moooi.com%2Ftmp%2Fimage-thumbnails%2FCollection%2FHome-Fragrance%2FRoom%20Fragrance%20Defy%20Gravity%2Fimage-thumb__37659__header_fullscreen_2x_jpg%2Fgravity-hero.webp&w=3840&q=80");
  width: 100%;
  height: 100vh;
  margin-top: -102px;
  object-fit: cover;
  background-position: center;
}

.detailRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.detailLeft {
  width: 60%;
  margin-top: 50px;
}

.proname {
  font-size: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 800;
}

.detailLeft p {
  color: #1f1f1f;
  font-size: 30px;
  font-weight: 250;
  font-family: "Montserrat", sans-serif;
}

.detailLeft h5 {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 500;
}

.detailRight {
  color: #5f5f5f;
  width: 36%;
}

.detailRight ul {
  margin-top: 50px;
}

.detailRight li {
  font-size: 16px;
  font-weight: 50;
  display: flex;
  align-items: center;
}

.detailRight li span {
  font-size: 13px;
}

.cart-icon {
  font-size: 35px;
  margin-right: 15px;
}

.detailBtn {
  background-color: transparent;
  font-size: 18px;
  border: none;
  color: #3f3f3f;
  margin-top: 25px;
  border-bottom: 0.5px solid #5f5f5f;
}

.specs button {
  background-color: #fff;
  color: #3f3f3f;
  border: none;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  display: flex;
  min-width: 145px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.varBtn button {
  width: min(127px, 100%);
  display: flex;
  position: relative;
  background-color: #fff;
  color: #1f1f1f;
  border: none;
  margin: 0;
  font-weight: 400;
  border-radius: 25px;
  padding: 5px 12px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.detailicon {
  position: absolute;
  top: 7.4px;
  right: 10px;
  font-size: 23px;
}

.detailprice {
  display: inline-block;
  font-size: 25px;
  margin: 0;
}

.specsIcon {
  font-size: 30px;
}

.variants {
  display: flex;
  align-items: center;
}

.leftVar {
  width: 45%;
}

.leftVar h2 {
  font-size: 13px;
}

.leftVar p {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 40px;
  margin: 30px 0;
}

.rightVar {
  width: 50%;
  display: flex;
}

.var-img {
  padding: 5px 40px;
}

.var-img img {
  width: 100%;
}

.var-item {
  max-width: 350px;
  margin: 10px;
  padding: 1.3888888889vw;
  background-color: #f3f3f3;
  margin: 35px 15px 35px 15px;
}

.variant-name {
  text-align: center;
  font-size: 18px;
  color: #1f1f1f;
  margin: 0;
}

.var-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.var-detail span {
  color: rgb(128 123 123 / 61%);
  font-size: 13px;
  margin: 10px 0;
}

.varientShip {
  display: flex;
  align-items: center;
}

.shipIcon {
  color: #4b4848;
  font-size: 18px;
  margin-right: 7px;
}

.ourCommitments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  gap: 50px;
}

.commitments {
  max-width: 1340px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commitments h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 0;
}

.commitments p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 25px 0;
  font-size: 40px;
  padding: 0 5vw;
  margin-bottom: 0;
}

.policies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5vh;
}

.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: center;
}

.policy-icon {
  color: #929292;
  font-size: 70px;
  min-height: 100px;
}


.innerpolicy h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 0;
  margin: 15px 0;
  font-size: 23px;
}

.innerpolicy p {
  margin: 0;
  color: #1f1f1f;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {

  .commitments {
    min-height: 30%;
  }

  .commitments p {
    font-size: 30px;
  }

  .policy-icon {
    min-height: 50px;
    font-size: 50px;
  }

  .innerpolicy {
    padding: 0 10px;
  }

  .innerpolicy h2 {
    font-size: 18px;
  }

  .innerpolicy p {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .productDetailHead h1 {
    font-size: 74px;
  }

  .detailLeft p {
    font-size: 23px;
  }

  .policies {
    gap: 0;
    padding: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .productDetailHead {
    width: 95%;
    padding-bottom: 0;
    margin: 0vh 2.5vw;
  }

  .productDetailHead h1 {
    max-width: 100%;
    font-size: 65px;
  }

  .detailRow {
    flex-direction: column;
    align-items: start;
  }

  .varBtn button {
    width: min(120px, 100%);
  }

  .detailprice {
    font-size: 22px;
  }

  .detailicon {
    font-size: 20px;
  }

  .detailLeft {
    width: 95%;
    margin: 20px 0;
  }

  .detailLeft h5 {
    font-size: 25px;
  }

  .detailLeft p {
    font-size: 20px;
  }

  .detailRight {
    width: 100%;
  }

  .detailRight ul {
    padding: 0;
  }

  .ourCommitments {
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .commitments {
    min-height: 0;
  }

  .commitments p {
    font-size: 23px;
  }

  .policies {
    height: 90vh;
    width: 100%;
    flex-direction: column;
  }

  .policy {
    width: 80%;
    /* Adjust width for better fit on smaller screens */
  }

  .innerpolicy {
    min-height: 150px;
    min-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .ourCommitments{
    gap:0;
  }
  .commitments p{
    font-size: 17px;
    margin: 0;
    padding: 1vh 5vw;
  }
  .productDetailHead{
    height: 80vh;
  }
  .productDetailHead h1 {
    font-size: 35px;
  }
  .detailBtn{
    margin-top:10px;
  }
  .detailRight ul {
    margin-top: 10px;
}
  .detailRight ul li{
    padding-bottom: 0px;
  }

  .detailprice {
    font-size: 18px;
  }

  .detailicon {
    font-size: 18px;
    top: 5.4px;
  }

  .varBtn button {
    width: min(110px, 100%);
  }

  .detailLeft p {
    font-size: 20px;
  }
}
@media screen and (max-width: 430px){
  .detailLeft h5{
    font-size: 22px;
  }
  .detailLeft p {
    font-size: 18px;
  }
  
}
@media screen and (max-height: 768px) {
  .productDetailHead {
    height: 60vh; /* Adjust height for smaller screens */
  }
}

@media screen and (max-height: 480px) {
  .productDetailHead {
    height: 50vh; /* Adjust height for even smaller screens */
  }
}