header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: clamp(14px, 5vw, 25px);
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    z-index: 900;
}

.bg_dark {
    color: #000 !important;
}

.searchInput {
    max-width: 300px;
    height: 25px;
    margin-right: 10px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.header {
    color: rgb(236, 233, 233);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.visible {
    transform: translateY(0);
}

.hidden {
    transform: translateY(-100%);
}

header h3 {
    margin: 0;
    font-size: clamp(22px, 5vw, 35px);
    font-weight: 450;
    letter-spacing: 10px;
}

.headLeft {
    width: 38%;
    display: flex;
    justify-content: flex-start;
}

.headCent {
    width: 24%;
    display: flex;
    justify-content: center;
}

.headCent a {
    color: rgb(236, 233, 233);
    text-decoration: none;
}

.headRight {
    width: 38%;
    display: flex;
    justify-content: flex-end;
    /* gap: 50px; */
}

.shopingBag {
    position: relative;
}

.CartQnty {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -7px;
    right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    border-radius: 50%;
    background-color: #e3d9c6;
    font-family: auto;
}

@media only screen and (max-width: 768px) {
    /* .headRight {
        gap: 25px;
    } */

    header {
        padding: 30px 20px;
    }

}

@media only screen and (max-width: 576px) {
    /* .headRight {
        gap: 12px;
    } */

    .CartQnty {
        width: 17px;
        height: 17px;
        right: -9px;
        font-size: 14px;
    }
}

.headerIcon {
    margin-right: clamp(5px, 3vw, 45px);
}