header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    z-index: 900;
}
.header {
    color: rgb(236, 233, 233);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }
  .visible {
    transform: translateY(0);
  }
  
  .hidden {
    transform: translateY(-100%);
  }

header h3{
    margin: 0;
    font-size: 35px;
    font-weight: 450;
    letter-spacing: 10px;
}
.headLeft{
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
}
.headCent{
    width: 33.3%;
    display: flex;
    justify-content: center;
}
.headCent a{
    color: rgb(236, 233, 233);
    text-decoration: none;
}
.headRight{
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
@media only screen and (max-width: 768px){
   .headRight{
        gap: 25px;
    }
    header{
        padding: 30px 20px;
    }
    
}

@media only screen and (max-width: 576px){
    .headRight{
        gap: 12px;
    }
    header{
        font-size: 20px ;
    }
    header h3{
        font-size: 25px;
    }
}

