#Presents {
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftPresents {
    width: 50%;
    background-color: white;
}

.rightPresents {
    width: 50%;
}

.rightPresents img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftContent h1 {
    margin: 0;
    color: #2e2e2e;
    font-size: clamp(24px, 5vw, 72px);
    padding: .9444444444vw 5.5555555556vw;
}

.leftContent span {
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-size: clamp(12px, 3vw, 16px);
    margin-bottom: clamp(15px, 3vw, 30px);
    color: #716d66;
}

.cool-link {
    border: none;
    background-color: transparent;
    color: #2e2e2e;
    font-size: clamp(15px, 3vw, 20px);
    font-weight: 300;
    opacity: 0.9;
    text-decoration: none;
    margin-top: clamp(20px, 3vw, 70px);
    border-bottom: 1px solid #2e2e2e;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #2e2e2e;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

@media only screen and (max-width: 1024px) {
    #Presents {
        flex-direction: column-reverse;
    }

    .leftPresents {
        width: 100%;
        height: 35vh;
    }

    .rightPresents {
        width: 100%;
        height: 65vh;
    }

    .leftContent h1 {
        padding: 0.9444444444vw 11.555556vw;
    }

    /* .leftContent span {
        margin-bottom: 20px;
        font-size: 13px;
    } */


}