/* Footer styles */
#footer {
    background-color: #000;
    color: #fff;
    padding: 5.1666666667vw 2.7777777778vw 30px;
}

/* Main footer container */
.footer-main {
    width: 100%;
}

/* Top section of the footer */
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Styling for text select component */
.selectText button {
    display: flex;
    align-items: center;
    width: 20vw;
    min-width: 200px;
    padding: 15px 25px;
    margin-bottom: 75px;
    border: 1px solid #929292;
    border-radius: 50px;
    background: transparent;
}

#flag-img {
    width: 14%;
}

.country-down-icon {
    color: #fff;
}

.selectText select {
    appearance: none;
    width: 70%;
    padding: 0 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
    text-align: center;
}

.B2T {
    position: absolute;
    right: clamp(16px, 3vw, 35px);
    margin-top: 8px;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.selectText select:focus {
    outline: none;
}

/* Middle section of the footer */
.footer-mid ul {
    width: min(1080px, 100%);
    columns: 26.3888888889vw 2;
    column-gap: 2.777778vw;
    list-style: none;
    padding-left: 5px;
    margin-bottom: 100px;
}

.footer-mid ul li {
    font-size: 25px;
    padding: 14px 0;
    padding-left: 10px;
}

/* Bottom section of the footer */
.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footerIcon {
    width: 25%;
    display: flex;
    font-size: 60px;
    flex-wrap: wrap;
}

.fnav {
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    line-height: 35px;
    margin-bottom: 50px;
}

.fnav a {
    text-decoration: none;
    color: #929292;
    font-size: 22px;
    padding: 5px 15px;
}

.socialicon {
    padding: 0 15px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    #footer {
        padding: 10vw 4vw 30px;
    }

    .footer-mid ul {
        columns: 1;
        margin-bottom: 10px;
    }

    .footer-mid ul li {
        font-size: 22px;
        padding: 10px 0;
        padding-left: 10px;
    }

    .fnav a {
        font-size: 20px;
    }

    .footer-bottom {
        flex-direction: column
    }

    .footerIcon {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }

    .selectText button {
        margin-bottom: 30px;
    }
}