#OrderSummary {
    font-family: "Playfair Display", serif;
    padding: 11.1111111111vw 0 18.0555555556vw;
}

.summaryRow {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

.ShoppingBag {
    width: 60%;
}
.summaryCards::-webkit-scrollbar {
    display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.summaryCards {
    height:100vh;
    overflow-y: scroll;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.ShoppingBag > h1 {
    margin: 0;
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    font-weight: 350;
}

.summaryTotal {
    width: 30%;
}

.totalHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
.totalHead button span{
    color: #929292;
    font-size: 16px;
    border-bottom: 1px solid #929292;
    padding-bottom: 2px;
}
.totalHead button {
    width: 38%;
    font-family: "Playfair Display", serif !important;
    padding: 0;
    background-color: transparent;
    border: none;
}

.totalHead h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 350;
}

.summarycart {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.summaryImg {
    height: 100%;
    width: 15%;
    max-height: 100%;
    overflow: hidden;
}

.sum__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.summaryDetail h1 {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.summaryDetail > span {
    color: #929292;
}

.summaryCartBtn {
    display: flex;
    align-items: center;
    margin-top: 2em;
    /* column-gap: 1.4em; */
    justify-content: space-between;
}

.summaryCartDetail {
    width: 79%;
}

.increaseQty {
    width: 33%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* background-color: #04AA6D; */
}

.CurrentQty {
    width: 33.99%;
    font-size: 18px;
    justify-content: center;
    font-weight: 600;
}

.decreaseQty {
    width: 33%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: #f44336; */
}

.itemCount {
    min-width: 90px;
    min-height: 40px;
    display: flex;
    padding: 0 7px;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.selectStyle {
    background-color: transparent;
    border: none;
}

.summaryButtons {
    width: 60%;
    display: flex;
    gap: 30px;
}

.summaryButtons button {
    font-size: 15px;
    color: #1f1f1f;
    border: none;
    background: none;
    border-bottom: 1px solid #666;
    padding: 0;
}

.summaryPrice {
    justify-content: end;
    display: flex;
    width: 25%;
}

.Sumprice {
    letter-spacing: 2px;
}

.summaryTotal {
    display: flex;
    width: 35%;
    /* position: fixed;
    right: 10px;
    top: 107px; */
    flex-direction: column;
    border-radius: 10px;
    /* padding: 75px 50px 25px; */
    background-color: white;
    z-index: 1;
}

.orderTotal {
    border-top: 1px solid #ddd;
    padding: 50px 0;
}

.orderTotal h1, .orderTotal h2 {
    font-size: 16px;
    font-family: "Buda", sans-serif;
}

.subTotal, .shipping, .orderTotal{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.shipping p, .subTotal p {
    font-family: "Buda", sans-serif;
    color: #929292;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 1px;
    padding: 7px 0;
}

.shipping span, .subTotal span {
    font-family: "Playfair Display", serif !important;
    font-size: 15px;
    font-family: "Buda", sans-serif;
    color: #929292;
}

.subTotal {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.shipping {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.OrderSummary {
    text-transform: uppercase;
}

.FinalBuyBtn button {
    font-family: "Playfair Display", serif !important;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: #1f1f1f;
    border: none;
    border-radius: 25px;
    padding: 11px;
}
@media screen and (max-width: 991px){
    .summaryRow {
        flex-direction: column;
    }.ShoppingBag {
        width: 100%;
    }
    .ShoppingBag h1{
        text-align: center;
    }
    .summaryTotal{
        width: 100%;
    }
    .totalHead{
        display: none;
    }
}
